{% include "header.html"%}

<form action="/feedback" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
  
    <label for="email">Email: </label>
    <input type="email" name="email" id="email">
  
    <input type="submit" value="Send!">
  </form>

<body>
    {% if user %}
    <h1>Hello {{ user }}!</h1>
    {% else %}
    <h1>Hello world!</h1>
    {% endif %}

<div class="row">
    <div class="column">
        <a href="Phoebe">  
        <img class="kitten" src="{{ url_for('static', filename='IMG_0860.jpg')}}" alt="Phoebe">
        </a>
    </div>
    <div class="column">
        <a href="Pancake">
        <img class="hedgehog" src="{{ url_for('static', filename='IMG_1310.jpg')}}" alt="Pancake">
        </a>
    </div>
</div>

</body>

{% include "footer.html"%}