{% include "header.html"%}

<form action="/feedback" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
  
    <label for="email">Email: </label>
    <input type="email" name="email" id="email">
  
    <input type="submit" value="Send!">
  </form>

<body>
    {% if user %}
    <h1>Hello {{ user }}!</h1>
    {% else %}
    <h1>Hello world!</h1>
    {% endif %}
</body>

    <img src="{{ url_for('static', filename='IMG_0860.jpg')}}" alt="Phoebe">
</body>

{% include "footer.html"%}